.primo_gruppo{
    width: 150px;
    height: 150px;
}

.secondo_gruppo{
    width: 100px;
    height: 100px;
}

.terzo_gruppo{
    width: 50px;
    height: 50px;
}

.rosso{
    background-color: red;
}

.blu{
    background-color: blue;
}

.giallo {
    background-color: yellow;
}