/*Tutti i paragrafi colorati di blu*/
p {
    color: blue;
}

body {
    font-size: 16px;
    background-color: #666666;
}

/*Tutti gli elementi con classe testo-rosso*/
.testo-rosso{
    color: red;
    font-family: monospace, Times, serif;
    text-decoration: underline;
    text-align: left;
    text-transform: uppercase;
}

#sezione-2 {
    color: purple;
}

/* Tutti gli elementi di tipo a con classe testo-rosso*/
a.testo-rosso{
    color: brown;
}

a.testo-rosso.testo-marrone {
    color: darkred;
}

/* Tutti gli elementi di tipo a racchiusi all'interno di un elemento
   con classe testo-principale */
.testo-principale a{
    color: yellow;
}

/* Tutti gli elementi figli di un paragrafo */
p > * {
    color: green;
}

div#spazi {
    background-color: aqua;
    margin: 50px 30px;
    padding: 50px 30px;
    border: 10px tomato solid;
}