h1 {
    color:red
}
div {
    width: 100px;
    height: 100px;

}

.giallo {
    background-color: yellow;
}

.rosso {
    background-color: red;
}

.blu {
    background-color: blue;
}

.verde{
    background-color: green;
}

.arancione{
    background-color: orange;
}