h1 {
    color: red;
    
}

.dispari {
    background-color: gray;
    color: white;
}

.pari{
    background-color: black;
    color: white;
}

body > :last-child {
    background-color: red;
    color: white;

}