h1 {
    background-color: red;
    color: white;
    
}

.dispari {
    background-color: gray;
    color: white;
}

.pari{
    background-color: black;
    color: white;
}

.div.closing {
    background-color: red;
    color: white;

}