.divpari {
    color: black;
    background-color: blue;
}
.divdispari {
    color: blue;
    background-color: yellow;
}

h1 {
    background-color: green;
    color: black;
}

.div {
    color: black;
    background-color: green;
}