.divpari {
    color: black;
    background-color: yellow;
}
.divdispari {
    color: black;
    background-color: green;
}

h1 {
    background-color: red;
    color: white;
}

.div {
    color: blue;
}