.divpari {
    color: white;
    background-color: black;
}
.divdispari {
    color: black;
    background-color: white;
}

h1 {
    background-color: blue;
    color: white;
}

.div {
    color: red;
    background-color: yellow;
}