h1 {
    color: red;
}

.casuale1 {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
}

.casuale2 {
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
}

.casuale3 {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 5px;
}

body > :last-child {
    background-color: red;
    color: white;
}